﻿@page
@model ProductManagementSystem.Pages.GroupPriceFilters.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>GroupPriceFilter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupPriceFilter.GroupId" class="control-label"></label>
                <select asp-for="GroupPriceFilter.GroupId" class ="form-control" asp-items="ViewBag.GroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GroupPriceFilter.PriceFilterId" class="control-label"></label>
                <select asp-for="GroupPriceFilter.PriceFilterId" class ="form-control" asp-items="ViewBag.PriceFilterId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
