﻿@page
@model ProductManagementSystem.Pages.GroupPriceFilters.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GroupPriceFilter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupPriceFilter.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupPriceFilter.Group.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupPriceFilter.PriceFilter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupPriceFilter.PriceFilter.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GroupPriceFilter.GroupId" />
        <input type="hidden" asp-for="GroupPriceFilter.PriceFilterId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
