﻿@page
@model ProductManagementSystem.Pages.GroupPriceFilters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupPriceFilter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupPriceFilter.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupPriceFilter.Group.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupPriceFilter.PriceFilter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupPriceFilter.PriceFilter.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
