﻿@page
@model ProductManagementSystem.Pages.GroupPriceFilters.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>GroupPriceFilter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupPriceFilter.GroupId" />
            <input type="hidden" asp-for="GroupPriceFilter.PriceFilterId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
