body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Index styles*/
/* Animation */

@-webkit-keyframes wiggle {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    60% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
}

@keyframes wiggle {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    60% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
}

.wiggle {
    -moz-animation: wiggle 1s infinite;
    -webkit-animation: wiggle 1s infinite;
    animation: wiggle 1s infinite;
}

.animated-link {
    transition: all 0.5s;
    cursor: pointer;
}

    .animated-link span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .animated-link:hover span {
        padding-right: 18px;
    }

    .animated-link span:after {
        font-family: "Font Awesome 5 Free";
        content: '\f061';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
        -moz-animation: wiggle 1s infinite;
        -webkit-animation: wiggle 1s infinite;
        animation: wiggle 1s infinite;
    }

    .animated-link:hover span:after {
        opacity: 1;
        right: 0;

    }

#item {
    padding: 3em;
    margin-top: 2em;
}

.item__icon {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 150px;
    height: 150px;
    font-size: 75px;
    line-height: 150px;
    background-color: #004C98;
    border-radius: 15px;
}

    .item__icon span {
        display: block;
        position: absolute;
        height: 150px;
        width: 150px;
        color: #fff;
        text-shadow: #003163 1px 1px, #003163 2px 2px, #003163 3px 3px, #003163 4px 4px, #003163 5px 5px, #003163 6px 6px, #003163 7px 7px, #003163 8px 8px, #003163 9px 9px, #003163 10px 10px, #003163 11px 11px, #003163 12px 12px, #003163 13px 13px, #003163 14px 14px, #003163 15px 15px, #003163 16px 16px, #003163 17px 17px, #003163 18px 18px, #003163 19px 19px, #003163 20px 20px, #003163 21px 21px, #003163 22px 22px, #003163 23px 23px, #003163 24px 24px, #003163 25px 25px, #003163 26px 26px, #003163 27px 27px, #003163 28px 28px, #003163 29px 29px, #003163 30px 30px, #003163 31px 31px, #003163 32px 32px, #003163 33px 33px, #003163 34px 34px, #003163 35px 35px, #003163 36px 36px, #003163 37px 37px, #003163 38px 38px, #003163 39px 39px, #003163 40px 40px, #003163 41px 41px, #003163 42px 42px, #003163 43px 43px, #003163 44px 44px, #003163 45px 45px, #003163 46px 46px, #003163 47px 47px, #003163 48px 48px, #003163 49px 49px, #003163 50px 50px, #003163 51px 51px, #003163 52px 52px, #003163 53px 53px, #003163 54px 54px, #003163 55px 55px, #003163 56px 56px, #003163 57px 57px, #003163 58px 58px, #003163 59px 59px, #003163 60px 60px, #003163 61px 61px, #003163 62px 62px, #003163 63px 63px, #003163 64px 64px, #003163 65px 65px, #003163 66px 66px, #003163 67px 67px, #003163 68px 68px, #003163 69px 69px, #003163 70px 70px, #003163 71px 71px, #003163 72px 72px, #003163 73px 73px, #003163 74px 74px, #003163 75px 75px, #003163 76px 76px, #003163 77px 77px, #003163 78px 78px, #003163 79px 79px, #003163 80px 80px, #003163 81px 81px, #003163 82px 82px, #003163 83px 83px, #003163 84px 84px, #003163 85px 85px, #003163 86px 86px, #003163 87px 87px, #003163 88px 88px, #003163 89px 89px, #003163 90px 90px, #003163 91px 91px, #003163 92px 92px, #003163 93px 93px, #003163 94px 94px, #003163 95px 95px, #003163 96px 96px, #003163 97px 97px, #003163 98px 98px, #003163 99px 99px, #003163 100px 100px, #003163 101px 101px, #003163 102px 102px, #003163 103px 103px, #003163 104px 104px, #003163 105px 105px, #003163 106px 106px, #003163 107px 107px, #003163 108px 108px, #003163 109px 109px, #003163 110px 110px, #003163 111px 111px, #003163 112px 112px, #003163 113px 113px, #003163 114px 114px, #003163 115px 115px, #003163 116px 116px, #003163 117px 117px, #003163 118px 118px, #003163 119px 119px, #003163 120px 120px, #003163 121px 121px, #003163 122px 122px, #003163 123px 123px, #003163 124px 124px, #003163 125px 125px, #003163 126px 126px, #003163 127px 127px, #003163 128px 128px, #003163 129px 129px, #003163 130px 130px, #003163 131px 131px, #003163 132px 132px, #003163 133px 133px, #003163 134px 134px, #003163 135px 135px, #003163 136px 136px, #003163 137px 137px, #003163 138px 138px, #003163 139px 139px, #003163 140px 140px, #003163 141px 141px, #003163 142px 142px, #003163 143px 143px, #003163 144px 144px, #003163 145px 145px, #003163 146px 146px, #003163 147px 147px, #003163 148px 148px, #003163 149px 149px, #003163 150px 150px;
    }

.item__info {
    width: 150px;
    margin-top: .5em;
    font-family: 'Roboto', sans-serif;
}

.item__link {
    color: #31b44c;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    display: block;
    margin-top: 1.25em;
}

    .item__link:hover {
        color: #268C3B;
    }

.item__description {
    font-size: .8em;
}

/* Help Styles */
#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 600px;
    margin: 4em auto;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #cccccc, #333333, #cccccc);
    margin-top: .5em;
}

footer {
    text-align: center;
}

/* End of Index styles*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}