﻿@page
@model ProductManagementSystem.Pages.Tires.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tire.VehicleClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.VehicleClass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Prefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Prefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.SectionWidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.SectionWidth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.SidewallAspectRatio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.SidewallAspectRatio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.WheelDiameter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.WheelDiameter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.InternalConstruction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.InternalConstruction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.LoadIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.LoadIndex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.MaximumTirePressure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.MaximumTirePressure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.SpeedRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.SpeedRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.PlyRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.PlyRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Sidewall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Sidewall)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.TreadDepth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.TreadDepth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.UniformTireQualityGrading)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.UniformTireQualityGrading)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Mileage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Mileage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.PartNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.PartNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.ManufacturerPartNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.ManufacturerPartNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.FederalExciseTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.FederalExciseTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Features)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Features)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Benefits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Benefits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Series)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Series)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.IdentificationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.IdentificationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.QuantityPerUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.QuantityPerUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Width)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.DateCreatedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.DateCreatedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.DateLastModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.DateLastModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tire.DateLastModifiedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tire.DateLastModifiedByUserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tire.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
