﻿@page
@model ProductManagementSystem.Pages.Tires.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Tire</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tire.VehicleClass" class="control-label"></label>
                <input asp-for="Tire.VehicleClass" class="form-control" />
                <span asp-validation-for="Tire.VehicleClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Prefix" class="control-label"></label>
                <input asp-for="Tire.Prefix" class="form-control" />
                <span asp-validation-for="Tire.Prefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.SectionWidth" class="control-label"></label>
                <input asp-for="Tire.SectionWidth" class="form-control" />
                <span asp-validation-for="Tire.SectionWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.SidewallAspectRatio" class="control-label"></label>
                <input asp-for="Tire.SidewallAspectRatio" class="form-control" />
                <span asp-validation-for="Tire.SidewallAspectRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.WheelDiameter" class="control-label"></label>
                <input asp-for="Tire.WheelDiameter" class="form-control" />
                <span asp-validation-for="Tire.WheelDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.InternalConstruction" class="control-label"></label>
                <input asp-for="Tire.InternalConstruction" class="form-control" />
                <span asp-validation-for="Tire.InternalConstruction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.LoadIndex" class="control-label"></label>
                <input asp-for="Tire.LoadIndex" class="form-control" />
                <span asp-validation-for="Tire.LoadIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.MaximumTirePressure" class="control-label"></label>
                <input asp-for="Tire.MaximumTirePressure" class="form-control" />
                <span asp-validation-for="Tire.MaximumTirePressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.SpeedRating" class="control-label"></label>
                <input asp-for="Tire.SpeedRating" class="form-control" />
                <span asp-validation-for="Tire.SpeedRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.PlyRating" class="control-label"></label>
                <input asp-for="Tire.PlyRating" class="form-control" />
                <span asp-validation-for="Tire.PlyRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Sidewall" class="control-label"></label>
                <input asp-for="Tire.Sidewall" class="form-control" />
                <span asp-validation-for="Tire.Sidewall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.TreadDepth" class="control-label"></label>
                <input asp-for="Tire.TreadDepth" class="form-control" />
                <span asp-validation-for="Tire.TreadDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.UniformTireQualityGrading" class="control-label"></label>
                <input asp-for="Tire.UniformTireQualityGrading" class="form-control" />
                <span asp-validation-for="Tire.UniformTireQualityGrading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Mileage" class="control-label"></label>
                <input asp-for="Tire.Mileage" class="form-control" />
                <span asp-validation-for="Tire.Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.PartNumber" class="control-label"></label>
                <input asp-for="Tire.PartNumber" class="form-control" />
                <span asp-validation-for="Tire.PartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.ManufacturerPartNumber" class="control-label"></label>
                <input asp-for="Tire.ManufacturerPartNumber" class="form-control" />
                <span asp-validation-for="Tire.ManufacturerPartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.FederalExciseTax" class="control-label"></label>
                <input asp-for="Tire.FederalExciseTax" class="form-control" />
                <span asp-validation-for="Tire.FederalExciseTax" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Tire.Id" />
            <div class="form-group">
                <label asp-for="Tire.Name" class="control-label"></label>
                <input asp-for="Tire.Name" class="form-control" />
                <span asp-validation-for="Tire.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Description" class="control-label"></label>
                <input asp-for="Tire.Description" class="form-control" />
                <span asp-validation-for="Tire.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Features" class="control-label"></label>
                <input asp-for="Tire.Features" class="form-control" />
                <span asp-validation-for="Tire.Features" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Benefits" class="control-label"></label>
                <input asp-for="Tire.Benefits" class="form-control" />
                <span asp-validation-for="Tire.Benefits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Brand" class="control-label"></label>
                <input asp-for="Tire.Brand" class="form-control" />
                <span asp-validation-for="Tire.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Series" class="control-label"></label>
                <input asp-for="Tire.Series" class="form-control" />
                <span asp-validation-for="Tire.Series" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Model" class="control-label"></label>
                <input asp-for="Tire.Model" class="form-control" />
                <span asp-validation-for="Tire.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.IdentificationNumber" class="control-label"></label>
                <input asp-for="Tire.IdentificationNumber" class="form-control" />
                <span asp-validation-for="Tire.IdentificationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.QuantityPerUnit" class="control-label"></label>
                <input asp-for="Tire.QuantityPerUnit" class="form-control" />
                <span asp-validation-for="Tire.QuantityPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Length" class="control-label"></label>
                <input asp-for="Tire.Length" class="form-control" />
                <span asp-validation-for="Tire.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Width" class="control-label"></label>
                <input asp-for="Tire.Width" class="form-control" />
                <span asp-validation-for="Tire.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Height" class="control-label"></label>
                <input asp-for="Tire.Height" class="form-control" />
                <span asp-validation-for="Tire.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.Weight" class="control-label"></label>
                <input asp-for="Tire.Weight" class="form-control" />
                <span asp-validation-for="Tire.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.DateCreated" class="control-label"></label>
                <input asp-for="Tire.DateCreated" class="form-control" />
                <span asp-validation-for="Tire.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.DateCreatedByUserId" class="control-label"></label>
                <input asp-for="Tire.DateCreatedByUserId" class="form-control" />
                <span asp-validation-for="Tire.DateCreatedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.DateLastModified" class="control-label"></label>
                <input asp-for="Tire.DateLastModified" class="form-control" />
                <span asp-validation-for="Tire.DateLastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire.DateLastModifiedByUserId" class="control-label"></label>
                <input asp-for="Tire.DateLastModifiedByUserId" class="form-control" />
                <span asp-validation-for="Tire.DateLastModifiedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
