﻿@page
@model ProductManagementSystem.Pages.Tires.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
    @{
        var prevDisabled = !Model.Tire.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Tire.HasNextPage ? "disabled" : "";
    }

    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Tire.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Tire.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tire[0].VehicleClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tire[0].DisplaySize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tire[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tire[0].PartNumber)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Tire[0].SectionWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].SidewallAspectRatio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].WheelDiameter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].InternalConstruction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].LoadIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].MaximumTirePressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].SpeedRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].PlyRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Sidewall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].TreadDepth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].UniformTireQualityGrading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].PartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].ManufacturerPartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].FederalExciseTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Features)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Benefits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Series)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].IdentificationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].QuantityPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].DateCreatedByUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].DateLastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire[0].DateLastModifiedByUserId)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tire)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleClassDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplaySize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.SectionWidth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SidewallAspectRatio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WheelDiameter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternalConstruction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadIndex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximumTirePressure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpeedRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlyRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sidewall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreadDepth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniformTireQualityGrading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturerPartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FederalExciseTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Features)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Benefits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityPerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreatedByUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLastModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLastModifiedByUserId)
        </td>*@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

