﻿@page
@model ProductManagementSystem.Pages.Price.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GroupTirePrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.IsHidden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.IsHidden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.Group.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.Tire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.Tire.Discriminator)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GroupTirePrice.Type" />
        <input type="hidden" asp-for="GroupTirePrice.GroupId" />
        <input type="hidden" asp-for="GroupTirePrice.TireId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
