﻿@page
@model ProductManagementSystem.Pages.Price.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupTirePrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.IsHidden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.IsHidden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.Group.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupTirePrice.Tire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTirePrice.Tire.Discriminator)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
