﻿@page
@model ProductManagementSystem.Pages.Price.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>GroupTirePrice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupTirePrice.Price" class="control-label"></label>
                <input asp-for="GroupTirePrice.Price" class="form-control" />
                <span asp-validation-for="GroupTirePrice.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupTirePrice.StartDate" class="control-label"></label>
                <input asp-for="GroupTirePrice.StartDate" class="form-control" />
                <span asp-validation-for="GroupTirePrice.StartDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="GroupTirePrice.Type" />
            <div class="form-group">
                <label asp-for="GroupTirePrice.EndDate" class="control-label"></label>
                <input asp-for="GroupTirePrice.EndDate" class="form-control" />
                <span asp-validation-for="GroupTirePrice.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GroupTirePrice.IsHidden" /> @Html.DisplayNameFor(model => model.IsHidden)
                    </label>
                </div>
            </div>
            <input type="hidden" asp-for="GroupTirePrice.GroupId" />
            <input type="hidden" asp-for="GroupTirePrice.TireId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
