﻿@page
@model ProductManagementSystem.Pages.Price.ImportModel
@{
    ViewData["Title"] = "Import";
}

<h2>Import</h2>

<form method="post" enctype="multipart/form-data">
    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
                Browse… <input style="display: none;" type="file" multiple="" id="fUpload" name="files">
            </span>
        </label>
        <input class="form-control" type="text" readonly="">
    </div>
    <input type="button" id="btnUpload" class="btn btn-primary" value="Upload" />

    @*<button asp-page-handler="Export" class="btn btn-primary">Export</button>*@
    <br />
    <div id="dvData"></div>
</form>