﻿@page
@model ProductManagementSystem.Pages.Price.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GroupTirePrice[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupTirePrice[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupTirePrice[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupTirePrice[0].IsHidden)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupTirePrice[0].Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupTirePrice[0].Tire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GroupTirePrice) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHidden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
