﻿@page
@model ProductManagementSystem.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.DateCreatedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.DateCreatedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.DateLastModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.DateLastModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.DateLastModifiedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.DateLastModifiedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.Parent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Parent.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Group.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
