﻿@page "{id:int}"
@model ProductManagementSystem.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.DateCreatedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.DateCreatedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.DateLastModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.DateLastModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.DateLastModifiedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.DateLastModifiedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.Parent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Parent.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group.PriceFilters)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Order</th>
                </tr>
                @foreach (var item in Model.Group.PriceFilters)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceFilter.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceFilter.Order)
                    </td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Group.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
