﻿@page
@model ProductManagementSystem.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Group.Id" />
            <div class="form-group">
                <label asp-for="Group.Name" class="control-label"></label>
                <input asp-for="Group.Name" class="form-control" />
                <span asp-validation-for="Group.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Description" class="control-label"></label>
                <input asp-for="Group.Description" class="form-control" />
                <span asp-validation-for="Group.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.ParentId" class="control-label"></label>
                <select asp-for="Group.ParentId" class="form-control" asp-items="ViewBag.ParentId"></select>
                <span asp-validation-for="Group.ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.DateCreated" class="control-label"></label>
                <input asp-for="Group.DateCreated" class="form-control" />
                <span asp-validation-for="Group.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.DateCreatedByUserId" class="control-label"></label>
                <input asp-for="Group.DateCreatedByUserId" class="form-control" />
                <span asp-validation-for="Group.DateCreatedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.DateLastModified" class="control-label"></label>
                <input asp-for="Group.DateLastModified" class="form-control" />
                <span asp-validation-for="Group.DateLastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.DateLastModifiedByUserId" class="control-label"></label>
                <input asp-for="Group.DateLastModifiedByUserId" class="form-control" />
                <span asp-validation-for="Group.DateLastModifiedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
