﻿@page
@model ProductManagementSystem.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-SortOrder="@Model.NameSort">@Html.DisplayNameFor(model => model.Group[0].Name)</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-SortOrder="@Model.DescriptionSort">@Html.DisplayNameFor(model => model.Group[0].Description)</a>
</th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].DateCreatedByUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].DateLastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].DateLastModifiedByUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Parent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Group)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalDateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreatedByUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalDateLastModified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLastModifiedByUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
