﻿@page
@model ProductManagementSystem.Pages.Pricing.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>PriceFilter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupList" class="control-label"></label>
                <select asp-for="GroupList" asp-items="@Model.GroupList"></select>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.Name" class="control-label"></label>
                <input asp-for="PriceFilter.Name" class="form-control" />
                <span asp-validation-for="PriceFilter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PriceFilter.IsActive" /> @Html.DisplayNameFor(model => model.PriceFilter.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PriceFilter.IsGlobal" /> @Html.DisplayNameFor(model => model.PriceFilter.IsGlobal)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PriceFilter.IsHidden" /> @Html.DisplayNameFor(model => model.PriceFilter.IsHidden)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PriceFilter.IsCompound" /> @Html.DisplayNameFor(model => model.PriceFilter.IsCompound)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.Order" class="control-label"></label>
                <input asp-for="PriceFilter.Order" class="form-control" />
                <span asp-validation-for="PriceFilter.Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.UserId" class="control-label"></label>
                <input asp-for="PriceFilter.UserId" class="form-control" />
                <span asp-validation-for="PriceFilter.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.MinimumCost" class="control-label"></label>
                <input asp-for="PriceFilter.MinimumCost" class="form-control" />
                <span asp-validation-for="PriceFilter.MinimumCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.MaximumCost" class="control-label"></label>
                <input asp-for="PriceFilter.MaximumCost" class="form-control" />
                <span asp-validation-for="PriceFilter.MaximumCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.StartDate" class="control-label"></label>
                <input asp-for="PriceFilter.StartDate" class="form-control" />
                <span asp-validation-for="PriceFilter.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.EndDate" class="control-label"></label>
                <input asp-for="PriceFilter.EndDate" class="form-control" />
                <span asp-validation-for="PriceFilter.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.PriceType" class="control-label"></label>
                <input asp-for="PriceFilter.PriceType" class="form-control" />
                <span asp-validation-for="PriceFilter.PriceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.FixedPrice" class="control-label"></label>
                <input asp-for="PriceFilter.FixedPrice" class="form-control" />
                <span asp-validation-for="PriceFilter.FixedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.MarginRate" class="control-label"></label>
                <input asp-for="PriceFilter.MarginRate" class="form-control" />
                <span asp-validation-for="PriceFilter.MarginRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.MarkupRate" class="control-label"></label>
                <input asp-for="PriceFilter.MarkupRate" class="form-control" />
                <span asp-validation-for="PriceFilter.MarkupRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.AdditionalProfit" class="control-label"></label>
                <input asp-for="PriceFilter.AdditionalProfit" class="form-control" />
                <span asp-validation-for="PriceFilter.AdditionalProfit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.MinimumProfit" class="control-label"></label>
                <input asp-for="PriceFilter.MinimumProfit" class="form-control" />
                <span asp-validation-for="PriceFilter.MinimumProfit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFilter.FixedCentValue" class="control-label"></label>
                <input asp-for="PriceFilter.FixedCentValue" class="form-control" />
                <span asp-validation-for="PriceFilter.FixedCentValue" class="text-danger"></span>
            </div>
            <!--
        <div class="form-group">
            <label asp-for="PriceFilter.DateCreated" class="control-label"></label>
            <input asp-for="PriceFilter.DateCreated" class="form-control" />
            <span asp-validation-for="PriceFilter.DateCreated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PriceFilter.DateCreatedByUserId" class="control-label"></label>
            <input asp-for="PriceFilter.DateCreatedByUserId" class="form-control" />
            <span asp-validation-for="PriceFilter.DateCreatedByUserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PriceFilter.DateLastModified" class="control-label"></label>
            <input asp-for="PriceFilter.DateLastModified" class="form-control" />
            <span asp-validation-for="PriceFilter.DateLastModified" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PriceFilter.DateLastModifiedByUserId" class="control-label"></label>
            <input asp-for="PriceFilter.DateLastModifiedByUserId" class="form-control" />
            <span asp-validation-for="PriceFilter.DateLastModifiedByUserId" class="text-danger"></span>
        </div>
    -->
            <div class="form-group">
                <input type="hidden" asp-for="PriceFilter.DateCreated" value="@DateTime.Now.ToLongTimeString()" />
                <input type="hidden" asp-for="PriceFilter.DateCreatedByUserId" value="1" />
                <input type="hidden" asp-for="PriceFilter.DateLastModified" value="@DateTime.Now.ToLongTimeString()" />
                <input type="hidden" asp-for="PriceFilter.DateLastModifiedByUserId" value="1" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
