﻿@page
@model ProductManagementSystem.Pages.Pricing.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PriceFilter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.IsGlobal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.IsGlobal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.IsHidden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.IsHidden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.IsCompound)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.IsCompound)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.Order)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.MinimumCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.MinimumCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.MaximumCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.MaximumCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.PriceType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.PriceType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.FixedPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.FixedPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.MarginRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.MarginRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.MarkupRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.MarkupRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.AdditionalProfit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.AdditionalProfit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.MinimumProfit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.MinimumProfit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.FixedCentValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.FixedCentValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.DateCreatedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.DateCreatedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.DateLastModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.DateLastModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceFilter.DateLastModifiedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceFilter.DateLastModifiedByUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PriceFilter.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
