﻿@page
@model ProductManagementSystem.Pages.Pricing.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].IsGlobal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].IsHidden)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].IsCompound)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].Order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].MinimumCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].MaximumCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].PriceType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].FixedPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].MarginRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].MarkupRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].AdditionalProfit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].MinimumProfit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].FixedCentValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].DateCreatedByUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].DateLastModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceFilter[0].DateLastModifiedByUserId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PriceFilter) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGlobal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHidden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarginRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkupRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixedCentValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreatedByUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastModifiedByUserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
