﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Point S Product Management System";
}


<div id="container">
    <div class="item">
        <div class="item__icon">
            <span><i class="fa fa-car fa-lg"></i></span>
        </div>
        <div class="item__info">
            <a class="item__link animated-link" href="Tires/Index"><span>Catalog Manager</span></a>
            <hr>
            <p class="item__description">View specific information about our products.</p>
        </div>
    </div>
    <div class="item">
        <div class="item__icon">
            <span><i class="fa fa-object-group fa-lg"></i></span>
        </div>
        <div class="item__info">
            <a class="item__link animated-link" href="Groups/Index"><span>Group Manager</span></a>
            <hr>
            <p class="item__description">Add and manage groups for products.</p>
        </div>
    </div>
    <div class="item">
        <div class="item__icon">
            <span><i class="fa fa-dollar-sign fa-lg"></i></span>
        </div>
        <div class="item__info">
            <a class="item__link animated-link" href="Pricing/Index"><span>Price Manager</span></a>
            <hr>
            <p class="item__description">Manage prices for groups of products.</p>
        </div>
    </div>
</div>